<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" href="../public/css/extra.css">
	<link rel="icon" href="../public/favicon.ico">
	<title>Pesan Tiket Kereta Murah dan Mudah Hanya di Travely</title></head>
</head>
<body>
	<section id="nav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="/">Travely Admin</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					</ul>
					<ul class="navbar-nav">
					</ul>
				</div>
			</div>
		</nav>
	</section>
	<section id="content">
		<div class="row">
			<div class="container">
				<div class="col-md-4 offset-md-4">
					<h5 class="text-center"><strong>Login Admin Travely</strong></h5>
					<br>
					<form method="post" action="/admin/masuk">
						<div class="form-group">
							<input type="text" name="username" class="form-control" placeholder="Username Anda" required="required">
						</div>
						<div class="form-group">
							<input type="password" name="password" class="form-control" placeholder="Password Anda" required="required">
						</div>
						<button type="submit" class="btn btn-primary btn-block">Masuk</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script src="../public/js/jquery-3.3.1.slim.min.js"></script>
	<script src="../public/js/popper.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>
</body>
</html>
